<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
 Copyright 2020 Michael BD7MQB <bd7mqb@qq.com>
 Licensed to the public under the Apache License 2.0.
-%>
        <legend><%:天气预报%></legend>

<tr><td width="10%"><%:%></td><td > <iframe width="1300" height="120" frameborder="0" scrolling="no" hspace="0" src="//i.tianqi.com/?c=code&a=getcode&id=22&py=shouguang&icon=1"></iframe>               

<% local ver = require "luci.version" %>

   <footer>
    <a href="https://hose.brandmeister.network">Powered by MMDVM</a>, BI4PCS/ <%= ver.distversion %>
    <ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
   </footer>
  </div>
  <script type="text/javascript">L.require('menu-bootstrap-mmdvm')</script>
 </body>
</html>

